version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: mern-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build:
      context: ..
      dockerfile: docker/Dockerfile.server
    container_name: mern-server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DB=mongodb://mongo:27017/mern
      - CLIENT_BASE_URL=http://localhost:5173
    depends_on:
      - mongo

  client:
    build:
      context: ..
      dockerfile: docker/Dockerfile.client
    container_name: mern-client
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=http://localhost:5000
    depends_on:
      - server

volumes:
  mongo-data:
